In [136]:
import pandas as pd
import numpy as np

In [140]:
path_results = "results/unrestricted_features/"
path_raw = "data/raw_data/"

In [141]:
predicted_bdd = pd.read_csv(path_results + "estimated_scopes.csv")

preprocessed_dataset = pd.read_parquet(path_raw + "cgee_preprocessed_dataset_2023.parquet")

In [142]:
print(predicted_bdd.shape)
print(preprocessed_dataset.shape)

(608680, 5)
(596977, 56)

In [145]:
predicted_bdd.duplicated(subset=["company_id", "fiscal_year"]).sum()

17503

In [147]:
predicted_bdd[predicted_bdd.duplicated(subset=["company_id", "fiscal_year"])]

,company_id,company_name,ticker,fiscal_year,cf1_estimated
530,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2018,5106.383794
534,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2017,468.949794
535,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2020,322.536466
536,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2020,8564.127758
537,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2018,130.836610
...,...,...,...,...,...
608577,ZYNE.OQ,Zynerba Pharmaceuticals Inc,ZYNE,2018,36.988065
608578,ZYNE.OQ,Zynerba Pharmaceuticals Inc,ZYNE,2018,23.853219
608579,ZYNE.OQ,Zynerba Pharmaceuticals Inc,ZYNE,2015,27.595344
608580,ZYNE.OQ,Zynerba Pharmaceuticals Inc,ZYNE,2012,81.708325
608581,ZYNE.OQ,Zynerba Pharmaceuticals Inc,ZYNE,2012,43.734954

In [148]:
582288 + 26392

608680

In [154]:
path_test = "data/intermediary_data/unrestricted_features/df_test_cf1.parquet"
test = pd.read_parquet(path_test)

path_train = "data/intermediary_data/unrestricted_features/df_train_cf1.parquet"
train = pd.read_parquet(path_train)

In [155]:
print(test.shape)
print(train.shape)

(10765, 1156)
(18485, 1156)

In [112]:
print(predicted_bdd.shape)
print(preprocessed_dataset.shape)

(1283840, 8)
(596977, 56)

In [113]:
predicted_bdd.duplicated().sum()

49724

In [114]:
preprocessed_dataset.shape[0] / predicted_bdd.shape[0]

0.4649933013459621

In [115]:
predicted_bdd.shape[0]/2

641920.0

In [116]:
predicted_bdd.columns

Index(['company_id', 'company_name', 'ticker', 'fiscal_year', 'cf1_estimated',
       'cf2_estimated', 'cf3_estimated', 'cf123_estimated'],
      dtype='object')

In [117]:
predicted_bdd[predicted_bdd.duplicated(subset=['company_id', 'company_name', 'ticker', 'fiscal_year'])]

,company_id,company_name,ticker,fiscal_year,cf1_estimated,cf2_estimated,cf3_estimated,cf123_estimated
536,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2016,453.000765,8751.840410,2631.657247,18873.307164
537,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2016,453.000765,8751.840410,2631.657247,145937.374512
538,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2016,453.000765,8751.840410,11488.194617,22161.541893
539,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2016,453.000765,8751.840410,11488.194617,18873.307164
540,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2016,453.000765,8751.840410,11488.194617,145937.374512
...,...,...,...,...,...,...,...,...
1283737,ZYNE.OQ,Zynerba Pharmaceuticals Inc,ZYNE,2013,138.521618,174.024184,194.562307,1222.798149
1283738,ZYNE.OQ,Zynerba Pharmaceuticals Inc,ZYNE,2013,138.521618,174.024184,194.562307,878.408675
1283739,ZYNE.OQ,Zynerba Pharmaceuticals Inc,ZYNE,2013,138.521618,174.024184,162.629328,829.726625
1283740,ZYNE.OQ,Zynerba Pharmaceuticals Inc,ZYNE,2013,138.521618,174.024184,162.629328,1222.798149
1283741,ZYNE.OQ,Zynerba Pharmaceuticals Inc,ZYNE,2014,34.862563,49.957773,223.626989,861.442743

In [118]:
predicted_bdd[(predicted_bdd.company_id == "000038.SZ") & (predicted_bdd.company_name == "Shenzhen Capstone Industrial Co Ltd") & (predicted_bdd.fiscal_year == 2016)]

,company_id,company_name,ticker,fiscal_year,cf1_estimated,cf2_estimated,cf3_estimated,cf123_estimated
535,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2016,453.000765,4423.067303,2588.339985,18873.307164
536,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2016,453.000765,8751.840410,2631.657247,18873.307164
537,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2016,453.000765,8751.840410,2631.657247,145937.374512
538,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2016,453.000765,8751.840410,11488.194617,22161.541893
539,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2016,453.000765,8751.840410,11488.194617,18873.307164
...,...,...,...,...,...,...,...,...
611,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2016,392.576873,8751.840410,2631.657247,18873.307164
612,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2016,453.000765,4423.067303,2588.339985,22161.541893
625,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2016,316.074878,8751.840410,11488.194617,22161.541893
694,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2016,316.074878,8751.840410,11488.194617,18873.307164
775,000038.SZ,Shenzhen Capstone Industrial Co Ltd,000038,2016,316.074878,8751.840410,11488.194617,145937.374512

In [132]:
predicted_bdd[(predicted_bdd.company_id == "1834.JS") & (predicted_bdd.company_name == "1834 Investments Ltd") & (predicted_bdd.fiscal_year == 2005)]

,company_id,company_name,ticker,fiscal_year,cf1_estimated,cf2_estimated,cf3_estimated,cf123_estimated
122917,1834.JS,1834 Investments Ltd,1834,2005,150.941334,1367.086308,4524.884017,56138.448493
122918,1834.JS,1834 Investments Ltd,1834,2005,150.941334,1367.086308,4524.884017,2905.963137
122919,1834.JS,1834 Investments Ltd,1834,2005,150.941334,1367.086308,220.398304,1960.300763
122920,1834.JS,1834 Investments Ltd,1834,2005,150.941334,1367.086308,220.398304,56138.448493
122921,1834.JS,1834 Investments Ltd,1834,2005,150.941334,1367.086308,220.398304,2905.963137
...,...,...,...,...,...,...,...,...
122995,1834.JS,1834 Investments Ltd,1834,2005,159.782855,1071.020344,4524.884017,1960.300763
122996,1834.JS,1834 Investments Ltd,1834,2005,159.782855,1071.020344,4524.884017,56138.448493
122997,1834.JS,1834 Investments Ltd,1834,2005,159.782855,1071.020344,4524.884017,2905.963137
122998,1834.JS,1834 Investments Ltd,1834,2005,159.782855,1071.020344,220.398304,1960.300763
122999,1834.JS,1834 Investments Ltd,1834,2005,1071.979777,1367.086308,220.398304,56138.448493

In [119]:
predicted_bdd[(predicted_bdd.company_id == "000038.SZ") & (predicted_bdd.company_name == "Shenzhen Capstone Industrial Co Ltd")]["fiscal_year"].value_counts()

fiscal_year
2016    81
2017    81
2015    81
2014    81
2018    81
2021    81
2020    81
2019    81
2013    81
2007    81
2006    81
2009    81
2005    81
2010    81
2012    81
2011    81
Name: count, dtype: int64

In [120]:
count = pd.DataFrame(predicted_bdd.groupby(["company_name", "company_id"]).fiscal_year.value_counts()).reset_index()

In [121]:
count.rename(columns={"count":"number_oc"}, inplace=True)

In [122]:
count["number_oc"].value_counts()

number_oc
1      581787
81       8526
16        346
625         7
256         6
Name: count, dtype: int64

In [123]:
count

               company_name company_id  fiscal_year  number_oc
0       &Do Holdings Co Ltd     3457.T         2013          1
1       &Do Holdings Co Ltd     3457.T         2014          1
2       &Do Holdings Co Ltd     3457.T         2015          1
3       &Do Holdings Co Ltd     3457.T         2016          1
4       &Do Holdings Co Ltd     3457.T         2017          1
...                     ...        ...          ...        ...
590667   xReality Group Ltd     XRG.AX         2018          1
590668   xReality Group Ltd     XRG.AX         2019          1
590669   xReality Group Ltd     XRG.AX         2020          1
590670   xReality Group Ltd     XRG.AX         2021          1
590671   xReality Group Ltd     XRG.AX         2022          1

[590672 rows x 4 columns]

In [124]:
merge = pd.merge(count,preprocessed_dataset, on = ["fiscal_year","company_id", "company_name"], how ="left")

In [130]:
merge[(merge.company_id == "1834.JS") & (merge.fiscal_year == 2005)]

,company_name,company_id,fiscal_year,number_oc,isin,ticker,country_hq,gics_sector,gics_group,gics_ind,...,status,price,area,year,fuel_intensity,income_group,region,age,cap_inten,leverage
232,1834 Investments Ltd,1834.JS,2005,81,JMP4744S1045,1834,Jamaica,40.0,4020.0,402030.0,...,No,NaN,Jamaica,2005.0,622.32,LM,Latin America & the Caribbean,12.583345,0.187893,0.016056

In [126]:
merge[merge.number_oc > 1].head()

,company_name,company_id,fiscal_year,number_oc,isin,ticker,country_hq,gics_sector,gics_group,gics_ind,...,status,price,area,year,fuel_intensity,income_group,region,age,cap_inten,leverage
232,1834 Investments Ltd,1834.JS,2005,81,JMP4744S1045,1834,Jamaica,40.0,4020.0,402030.0,...,No,NaN,Jamaica,2005.0,622.32,LM,Latin America & the Caribbean,12.583345,0.187893,0.016056
233,1834 Investments Ltd,1834.JS,2006,81,JMP4744S1045,1834,Jamaica,40.0,4020.0,402030.0,...,No,NaN,Jamaica,2006.0,621.62,LM,Latin America & the Caribbean,12.099987,0.195098,0.010453
234,1834 Investments Ltd,1834.JS,2007,81,JMP4744S1045,1834,Jamaica,40.0,4020.0,402030.0,...,No,NaN,Jamaica,2007.0,617.86,UM,Latin America & the Caribbean,14.353706,0.196108,0.020181
235,1834 Investments Ltd,1834.JS,2008,81,JMP4744S1045,1834,Jamaica,40.0,4020.0,402030.0,...,No,NaN,Jamaica,2008.0,607.50,UM,Latin America & the Caribbean,NaN,0.281670,0.013661
236,1834 Investments Ltd,1834.JS,2009,81,JMP4744S1045,1834,Jamaica,40.0,4020.0,402030.0,...,No,NaN,Jamaica,2009.0,609.88,UM,Latin America & the Caribbean,14.612610,0.265883,0.012669

In [108]:
print(merge.shape)
print(merge[merge.number_oc > 1].shape)

(590672, 57)
(8885, 57)

In [128]:
merge[merge.number_oc > 1].fiscal_year.value_counts()

fiscal_year
2019    660
2020    647
2021    625
2018    615
2017    597
2016    579
2015    541
2022    536
2014    513
2013    487
2012    465
2011    437
2010    411
2009    391
2008    368
2007    367
2006    340
2005    306
Name: count, dtype: int64

In [106]:
merge[merge.number_oc > 1].isna().sum()

company_name            0
company_id              0
fiscal_year             0
number_oc               0
isin                    0
ticker                  0
country_hq              0
gics_sector             0
gics_group              0
gics_ind                0
gics_sub_ind            0
gics_name               0
ref_cf1              8619
ref_cf2              8630
ref_cf3              8763
ref_cf123            8772
revenue                 0
ebitda                137
ebit                  137
capex                 836
gppe                 2386
nppe                  456
accu_dep             2443
intan                6397
cogs                 1385
gmar                 1978
asset                  66
lt_debt               119
employees            3659
energy_produced      8818
energy_consumed      8642
cdp_cf1              8792
cdp_cf2_location     8794
cdp_cf2_market       8830
cdp_cf3              8808
cdp_cf123            8809
boundary             8794
covered_countries    8791
cf1                  8582
cf2                  8595
cf3                  8731
cf123                8740
co2_law               536
co2_scheme           5161
co2_status           5161
co2_coverage         5161
start_year           2338
status                536
price                7162
area                  544
year                  544
fuel_intensity          0
income_group          262
region                  0
age                  2643
cap_inten             456
leverage              233
dtype: int64

In [52]:
preprocessed_dataset.shape

(596977, 56)

In [13]:
merge.columns

Index(['company_id', 'company_name', 'ticker_x', 'fiscal_year',
       'cf1_estimated', 'cf2_estimated', 'cf3_estimated', 'cf123_estimated',
       'isin', 'ticker_y', 'country_hq', 'gics_sector', 'gics_group',
       'gics_ind', 'gics_sub_ind', 'gics_name', 'ref_cf1', 'ref_cf2',
       'ref_cf3', 'ref_cf123', 'revenue', 'ebitda', 'ebit', 'capex', 'gppe',
       'nppe', 'accu_dep', 'intan', 'cogs', 'gmar', 'asset', 'lt_debt',
       'employees', 'energy_produced', 'energy_consumed', 'cdp_cf1',
       'cdp_cf2_location', 'cdp_cf2_market', 'cdp_cf3', 'cdp_cf123',
       'boundary', 'covered_countries', 'cf1', 'cf2', 'cf3', 'cf123',
       'co2_law', 'co2_scheme', 'co2_status', 'co2_coverage', 'start_year',
       'status', 'price', 'area', 'year', 'fuel_intensity', 'income_group',
       'region', 'age', 'cap_inten', 'leverage', 'Absolute Percentage Error'],
      dtype='object')

In [15]:
merge['Absolute Percentage Error'] = abs((np.log10(merge['cf1']+1) - np.log10(merge['cf1_estimated']+1)) / np.log10(merge['cf1']+1))
mape = merge['Absolute Percentage Error'].mean() * 100
mape

82.79666707668892

In [17]:
merge.cf1.max()

377600000.0

In [18]:

from sklearn.metrics import (
    mean_squared_error,
    r2_score,
    mean_absolute_error,
    mean_absolute_percentage_error,
)

In [19]:
mape = mean_absolute_percentage_error((np.log10(merge['cf1']+1)), np.log10(merge['cf1_estimated']+1))

ValueError: Input contains NaN.

In [21]:
merge[merge["cf1"].isna()]

,company_id,company_name,ticker_x,fiscal_year,cf1_estimated,cf2_estimated,cf3_estimated,cf123_estimated,isin,ticker_y,...,price,area,year,fuel_intensity,income_group,region,age,cap_inten,leverage,Absolute Percentage Error
0,000002.SZ,China Vanke Co Ltd,000002,2005,6900.542477,34410.215980,30215.758680,1.498246e+05,CNE0000000T2,000002,...,NaN,China,2005.0,670.51,LM,East Asia and Pacific,10.128468,0.022389,0.094562,NaN
7,000002.SZ,China Vanke Co Ltd,000002,2015,20063.923976,133763.776506,704375.030380,2.007961e+06,CNE0000000T2,000002,...,NaN,China,2015.0,596.36,UM,East Asia and Pacific,14.484668,0.028207,0.086447,NaN
10,000002.SZ,China Vanke Co Ltd,000002,2012,13390.797707,70297.618692,130450.499586,5.295118e+05,CNE0000000T2,000002,...,NaN,China,2012.0,637.24,UM,East Asia and Pacific,12.140125,0.025829,0.095132,NaN
11,000002.SZ,China Vanke Co Ltd,000002,2011,14753.091610,68929.214601,95917.206168,2.825087e+05,CNE0000000T2,000002,...,NaN,China,2011.0,663.60,UM,East Asia and Pacific,15.446306,0.032061,0.090552,NaN
12,000002.SZ,China Vanke Co Ltd,000002,2010,9396.514965,61486.150180,68314.486528,2.046021e+05,CNE0000000T2,000002,...,NaN,China,2010.0,650.61,UM,East Asia and Pacific,14.334820,0.039119,0.141959,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1283835,ZZb.ST,Zinzino AB,ZZ B,2011,57.299381,85.454968,53.909274,8.799744e+02,SE0002480442,ZZ B,...,166.073547,Sweden,2011.0,58.49,H,Europe and Central Asia,21.931624,0.006483,0.000000,NaN
1283836,ZZb.ST,Zinzino AB,ZZ B,2010,49.742529,57.615577,68.306778,1.300035e+03,SE0002480442,ZZ B,...,145.479737,Sweden,2010.0,71.47,H,Europe and Central Asia,25.800000,0.005287,0.000000,NaN
1283837,ZZb.ST,Zinzino AB,ZZ B,2021,33.989958,208.824680,999.601279,4.709592e+03,SE0002480442,ZZ B,...,137.243241,Sweden,2021.0,45.82,H,Europe and Central Asia,3.610773,0.038115,0.041350,NaN
1283838,ZZb.ST,Zinzino AB,ZZ B,2015,38.757190,119.830300,85.931247,1.506708e+03,SE0002480442,ZZ B,...,129.811426,Sweden,2015.0,45.12,H,Europe and Central Asia,0.643628,0.004989,0.000000,NaN
1283839,ZZb.ST,Zinzino AB,ZZ B,2022,70.774151,309.913051,2333.857987,4.212510e+03,SE0002480442,ZZ B,...,NaN,Sweden,2022.0,45.08,H,Europe and Central Asia,2.769366,0.047231,0.048233,NaN

In [133]:
path_int = "data/Refinitiv_extraction/X_test_copy.parquet"
int = pd.read_parquet(path_int)

In [135]:
int.shape

(10765, 1104)